* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Circular Std;
    src: url('../fonts/CircularStd-Book.otf');
}

@font-face {
    font-family: Schnyder L Demi;
    src: url('../fonts/Schnyder-L-Demi.otf');
}

@font-face {
    font-family: Berthold;
    src: url('../fonts/Berthold-Akzidenz-Grotesk-BE-Regular.otf');
}

@font-face {
    font-family: Schnyder S Demi;
    src: url('../fonts/Schnyder-L-Demi.otf');
}

.home-body {
    background: #F6F5F5;
}

html {
    cursor: url('../Images/cursor.png') 2 2, auto;	
}

/* loader */

.loader {
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 99;
}

.loader.hidden {
    animation: fadeOut 1s; 
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* Nav bar */

header {
    position: fixed;
    top: 0;
    z-index: 4;
}

nav {
    position: relative;
    width: 1440px;
    height: 141px;
    left: 0px;
    top: 0px;
    text-align: center;
}

nav span {
    display: block;
    font-size: 36px;
    line-height: 46px;
}

a {
    font-family: Circular Std;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: black;
}

nav li {
    list-style: none;
    transition: .5s;
}

nav li::before {
    transform: translate3d(0, 140%, 0);
}

nav li:hover::before {
    transform: translate3d(0, 0, 0);
}

nav li:hover {
    transform: translate3d(0, -140%, 0);
}

.work {
    position: absolute;
    left: 64px;
    top: 30px;
}

.about {
    position: absolute;
    left: 230px;
    top: 30px;
}

.lab {
    position: absolute;
    left: 1054px;
    top: 30px;
}

.contact {
    position: absolute;
    left: 1226px;
    top: 30px;
}

/* status bar */
#bar-holder {
    position: fixed;
    height: 100%;
    width: 8px;
    background: #F6F5F5;
    z-index: 6;
}

#status-bar {
    width: 7px;
    left: 0px;
    top: 0px;
    background: #BDF166;
}

/* cursor */

.cursor {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    transition-duration: 400ms;
    transition-timing-function: ease-out;
    transform: translate(-50%, -50%);
    /* z-index: 100; */
}

/* home section */

.homepage {
    position: relative;
    display: block;
    height: 100vh;
}

.home-line {
    border: 1px solid #000000;
    transform: rotate(90deg);
    position: absolute;
    margin-top: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 540px;
}

.logo {
    font-family: Schnyder L Demi;
    font-style: normal;
    font-weight: 500;
    font-size: 200px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    top: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    position: absolute;
    z-index: 1;
}

.demo {
    width: 346px;
    height: 440px;
    top: 207px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
}

.demo:hover {
    z-index: 3;
}

button {
    text-decoration: none;
    border: none;
    background: none;
}

.light {
    position: absolute;
    left: 222px;
    top: 673px;
    font-family: Circular Std;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    color: #000000;
    padding: 15px;
    transition: ease-in 0.4s;
    border-radius: 64% 36% 27% 73% / 55% 58% 42% 45%;

}

.red {
    position: absolute;
    left: 1058px;
    top: 673px;
    font-family: Circular Std;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    color: #D8553B;
    padding: 15px;
    transition: ease-in 0.4s;
    border-radius: 64% 36% 27% 73% / 55% 58% 42% 45%;

}

.light:hover {
    background-color: black;
    color: white;
    animation: blob 5s linear infinite;
    transition: ease-out 0.5s;
}


.red:hover {
    background-color: black;
    animation: blob 5s linear infinite;
    transition: ease-out 0.5s;
    
}

@keyframes blob {
    0%, 100% {
        border-radius: 64% 36% 27% 73% / 55% 58% 42% 45%;
    }
    25% {
        border-radius: 44% 56% 37% 63% / 45% 88% 52% 55%;
    }
    50% {
        border-radius: 49% 56% 17% 88% / 42% 72% 22% 66%;
    }
    75% {
        border-radius: 22% 36% 88% 92% / 19% 38% 22% 65%;
    }
}

/* main services */

.main-services {
    display: block;
    height: 100vh;
}

.main-services h3 {
    text-align: center;
    font-family: Berthold;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase;
    color: #000000;
}

.main-services span {
    font-family: Schnyder L Demi;
    font-style: normal;
    font-weight: 500;
    font-size: 85px;
    color: #000000;
    padding-bottom: 15px;
}

.main-services ul {
    list-style: none;
    text-align: center;
    padding-top: 10%;
}

.art {
    padding-right: 35%;
}

.product {
    padding-right: 15%;
}

.immersive {
    padding-right: 5%;
}

.animation {
    margin-left: 5%;
}

/* work examples */
.case-title {
    text-align: center;
    padding-bottom: 25px;
    font-family: Berthold;
}
.cases {
    display: block;
}

.case {
    display: block;
    height: 900px;
    widows: 100%;
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex: 1;
}

.case h2 {
    font-family: Schnyder S Demi;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    text-align: left;
    padding-top: 20%;
    padding-left: 20%;
}

.case h3 {
    text-align: left;
    padding-top: 5%;
    padding-left: 20%;
}

.case p {
    width: 60%;
    text-align: left;
    margin: 0 auto;
    padding-top: 20%;
}

.right {
    width: 50%;
    background-color: #E5E5E5;
}

.case:nth-child(odd) .right {
    background-color: #D8553B;
}

.right img {
    display: block;
    width: 404.56px;
    height: 539.41px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.left {
    width: 50%;
    position: relative;
}

.left img {
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* more */

.more {
    display: block;
    height: 100vh;
}

.more h1 {
    text-align: center;
    font-family: Circular Std;
    font-size: 102px;
    color: #000000;
    padding-top: 15%;
}

.more-line {
    border-bottom: 7px solid #000000;
    width: 845px;
    margin: 0 auto;
}

/* footer */

footer {
    /* position: relative; */
    font-family: Schnyder S Demi;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    position: absolute;
    width: 450px;
    height: 25px;
    left: 495px;
    top: 748px;
    text-align: center;
}

footer a {
    margin: 0 40px;
}

/* contact */

.contact-section {
    background-color: #FFF1EE;
    display: block;
    height: 100vh;
}

.contact-section p {
    font-family: Schnyder L Demi;
    font-style: normal;
    font-weight: 500;
    font-size: 102px;
    text-align: left;
    padding-top: 10%;
    padding-left: 5%;
}

.email {
    color: #BDF166;
}

.collaborations {
    font-family: Berthold;
    font-style: normal;
    font-weight: bold;
    font-size: 92px;
    text-transform: uppercase;
}