* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overscroll-behavior: none;
}

@font-face {
    font-family: Circular Std;
    src: url('../fonts/CircularStd-Book.otf');
}

@font-face {
    font-family: Schnyder S Demi;
    src: url('../fonts/Schnyder-S-Demi.otf');
}

@font-face {
    font-family: Schnyder L Demi;
    src: url('https://raw.githack.com/BenLardie/Noframe/master/fonts/Schnyder-L-Demi.otf');
}
html {
    caret-color: white;
    cursor: url('../Images/cursor-white.png') 2 2, auto;	
}

/* loader */

.loader {
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 99;
}

.loader.hidden {
    animation: fadeOut 1s; 
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* cursor */

.cursor {
    width: 40px;
    height: 40px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    position: absolute;
    transition-duration: 400ms;
    transition-timing-function: ease-out;
    transform: translate(-50%, -50%);
    /* z-index: 100; */
}

.cursor.animated {
    width: 200px;
    height: 500px;
}

/* progress bar */

#bar-holder {
    position: fixed;
    height: 100%;
    width: 8px;
    z-index: 6;
}

#status-bar {
    width: 7px;
    left: 0px;
    top: 0px;
    background: #BDF166;
}

/* Nav bar */

header {
    position: fixed;
    top: 0;
    z-index: 4;
}

nav a {
    display: block;
    font-size: 36px;
    font-family: Circular Std;
    text-decoration: none;
    color: white;
    cursor: none;
    text-align: center;
}

nav span {
    font-size: 16px;
    display: block;
}

nav a:hover {
    text-shadow: -14px 16px 0.5px white, -28px 32px 0 black;
    color: #D8553B; 
}

nav a:hover span {
    display: none;
}

nav li {
    list-style: none;
}

.work {
    position: absolute;
    left: 64px;
    top: 30px;
}

.about {
    position: absolute;
    left: 230px;
    top: 30px;
}

.lab {
    position: absolute;
    left: 1054px;
    top: 30px;
}

.contact {
    position: absolute;
    left: 1226px;
    top: 30px;
}

.home-link {
    position: absolute;
    font-size: 16px;
    top: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-family: Berthold;
    display: inline-block;
    text-align: center;
}

/* page details */


.work-page {
    width: 100vw;
    height: 1800px;
    padding-top: 105px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(36, 86, 43, 0.4) 100%), #000000;
}

.work-one {
    height: 648px;
    margin: 105px auto 0;
    width: 90%;
    text-align: center;
    position: relative;
}

.cursor.work-preview {
    position: absolute;
    height: 500px;
    width: 200px;
    /* visibility: hidden; */
    transition-duration: 400ms;
    transition-timing-function: ease-out;
}

.work-link {
    display: inline-block;
    /* margin: 0 auto; */
    font-family: Schnyder L Demi;
    font-size: 110px;
    line-height: 125px;
    text-decoration-line: underline;
    color: #456852;
}

.work-two {
    height: 648px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

.work-link.two {
    font-family: Schnyder L Demi;
    display: inline-block;
    font-weight: 500;
    font-size: 110px;
    line-height: 125px;
    text-align: center;
    text-decoration-line: underline;
    color: #24562B;
}

footer {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    position: static;
    width: 100%;
    bottom: 0;
    text-align: center;
    margin: 0 auto;
}

footer a {
    margin: 0 40px;
    color: white;
    font-family: Schnyder S Demi;
}